<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/header', {title: 'Product' , state: 'product' }); %>
  <body>
    <%- include('../layouts/navbar', {types: 'v2', state: 'product'}); %> 
    <!-- All Products -->
    <section class="section all-products" id="products">
      <div class="top container">
        <h1>All Products</h1>
        <form>

          <div class="search-box-ggwp">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search" />
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>

          <select name="sortingOptions" onchange="priceSort();">
            <option value="1">Default Sorting</option>
            <option value="2">Sort By Price(Low-High)</option>
            <option value="3">Sort By Price(High-Low)</option>
          </select>
        </form>
      </div>
      <div class="product-center container">
      <% for(let i=0; i < data.length; i++) { %>
      <div class="product-item">
        <a href="productDetails/<%= data[i]._id %>" class="product-thumb">
          <img src="/images/<%= data[i].image %>" alt="" />
        </a>
        <div class="product-info">
          <span><%= data[i].category %></span>
          <a><%= data[i].name %></a>
          <h4 class="product-price">IDR <%= data[i].price %></h4>
        </div>
      </div>
      <% } %>
 
      <div class="btn-text-center" style="text-align: center;">
        <div id="load-more"> Load More </div>
      </div>
    </section>
    <br>
    
    </script> -->
    <%- include('../layouts/footer', {state: 'product'}); %>
  </body>
</html>
