<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/header', {title: 'Product Details' , state: 'productDetails' }); %>
  <body>
    <%- include('../layouts/navbar', {types: 'v2', state: 'productDetails'}); %> 
    <!-- Product Details -->
    <section class="section product-detail">
      <div class="details container">
        <div class="left image-container">
          <div class="main">
            <img src="/images/<%= data.image %>" id="zoom" alt="" />
          </div>
        </div>
        <div class="right">
          <br>
          
          <h1 class="name"><%= data.name %></h1>
          <div class="price">Rp.<%= data.price %></div>
          <div class="price">Stock: <%= data.price %></div>
          <p>Size : <%= data.price %></p><br>
          <form class="form">
            <a class="addCart" onclick= "return addToCart('<%= data._id %>')"><i class="bx bx-cart"></i> Add To Cart</a><br><br>
          </form>
            <h3>Product Details</h3>
          <p class="description">
            <%= data.description %>
          </p>
        </div>
      </div>
    </section>

    <%- include('../layouts/footer', {state: 'productDetails'}); %>
  </body>
</html>
